footer.footer {
	display: flex;
	padding-top: 4vw;
	padding-bottom: 4vw;
	padding-right: 6vw;
	padding-left: 6vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff7f4;
	position: relative;
	.footer {
		&--copyright {
			margin-bottom: 4vh;
			color: #391d5d;
			font-weight: 600;
			font-size: 0.7vw;
			text-transform: uppercase;
			@media (max-width: 991px) {
				font-size: 10px;
				line-height: 1.4em;
				letter-spacing: 0.2px;
			}
			@media (max-width: 767px) {
				max-width: 80vw;
			}
			&--bottom {
				max-width: 46vw;
				color: #747474;
				font-size: 0.7vw;
				line-height: 1.4vw;
				text-align: center;
				letter-spacing: 0.02vw;
				@media (max-width: 991px) {
					max-width: 60vw;
					font-size: 10px;
					line-height: 1.4em;
					letter-spacing: 0.2px;
				}
				@media (max-width: 767px) {
					max-width: 80vw;
				}
			}
		}
	}
	@media (max-width: 991px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.nicestudio {
	position: absolute;
	z-index: 10;
	bottom: 5px;
	right: 5px;
	text-align: right;
	a {
		font-size: 17px;
		line-height: 1.2;
		transform: scale(0.5);
		transform-origin: bottom right;
		display: block;
	}
}