.about-box
	.photo-face
		.photo-face-box
			.clearfix.absolute
				img(src="/assets/templates/natalya/images/about.jpg" alt="[+pagetitle:hsc*]")
	.about-info
		.clearfix
			p
				|Год рождения: 1895
			p
				|Место рождения: Пермь
			p
				|И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....И что то о себе, может быть места работ хз....