footer.footer
	.footer--copyright
		|Сайт портфолио - Наталья Мазаева 2019
	.footer--copyright--bottom
		|Все работы представленные на сайте принадлежат автору Наталье Мазаевой и являются интеллектуальной собственностью автора. Использование любых материалов сайта разрешается строго с разрешения автора.
	.nicestudio
		a(href="https://nice.studio/" target="_blank")
			|Дизайн, Разработка, Продвижение
			br
			|WEB-студия «Nice»