head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
	title [*titl*]
	base(href="/")
	link(rel="shortcut Icon" href="/favicon.ico" type="image/x-icon")
	link(rel="icon" href="/favicon.ico" type="image/x-icon")
	|
	|[*noIndex*]
	meta(name="title" content="[*titl:hsc*]")
	meta(name="description" content="[*desc:hsc*]")
	meta(name="keywords" content="[*keyw:hsc*]")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="[(*site_name:hsc*)]")
	meta(property="og:title" content="[*titl:hsc*]")
	meta(property="og:description" content="[*desc:hsc*]")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:url" content="[[#ogUrl]]")
	include snippets/ogimage.tpl
	include snippets/css.tpl
	