head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
	title Флористика, визуальное оформление, декорирование и дизайн
	base(href="/")
	link(rel="shortcut Icon" href="/favicon.ico" type="image/x-icon")
	link(rel="icon" href="/favicon.ico" type="image/x-icon")
	meta(name="robots" content="index, follow")
	meta(name="title" content="")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(property="og:title" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:image" content="")
	meta(property="og:image:width" content="")
	meta(property="og:image:height" content="")
	meta(property="og:image:type" content="")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="")
	link(rel="stylesheet" media="all" href="assets/templates/natalya/css/main.css")
