.header-block
	.header-block-hero
		.header-block-title
			h1
				|Флористика, визуальное оформление, декорирование и дизайн
			.header-block-title-image(style="background-image: url(assets/templates/natalya/images/header-image.jpg);")
		.header-block-text
			ul
				li
					|Изготовление букетов
				li
					|Создание композиций из живых и искусственных растений
				li
					|Создание экспозиций по гендерным праздникам
				li
					|Декорирование интерьера
				li
					|Изготовление бутафории
				li
					|Различные праздничные оформительские работы
				li
					|Мерчендайзинг