nav(role="navigation").navhead
	.brand
		a.link(href="/")
			.brand-logo
				img(src="assets/templates/natalya/images/logotip.svg" alt="Логотип Наталья Мазаева")
			.brand-text
				span.brand-text-up
					|Наталья Мазаева
				span.brand-text-down
					|Флорист - декоратор
	.navbar
		ul.navbar-list
			li.navbar-list-li
				a.link(href="/about.html")
					|Обо мне
			li.navbar-list-li
				a.link(href="/works.html")
					|Работы
			li.navbar-list-li
				a.link(href="/contacts.html")
					|Контакты