article.project
	.project--image(style="background-image: url(assets/templates/natalya/images/project-image_001.jpg);")
	section.project--section
		header
			h2
				|Флористика
			.project--section--text
				p
					|Подборка проектов по флористическому направлению
		footer
			a(href="javascript:;")
				|Подробнее