.worksnav(role="navigation")
	ul.worksnav--list
		li.worksnav--list-li.active
			a(href="/works.html")
				|Работы по флористике
		li.worksnav--list-li
			a(href="/works.html")
				|Работы по оформлению
	