.worksprojects.carousel--watch-css
	.works--project
		.works--project-card
			a(href="assets/templates/natalya/images/project.jpg" data-fancybox="gallery" data-caption="Заголовок работы (название)")
				img(src="assets/templates/natalya/images/project.jpg")
	.works--project
		.works--project-card
			a(href="assets/templates/natalya/images/project.jpg" data-fancybox="gallery" data-caption="Заголовок работы (название)")
				img(src="assets/templates/natalya/images/project.jpg")
	.works--project
		.works--project-card
			a(href="assets/templates/natalya/images/project.jpg" data-fancybox="gallery" data-caption="Заголовок работы (название)")
				img(src="assets/templates/natalya/images/project.jpg")
	.works--project
		.works--project-card
			a(href="assets/templates/natalya/images/project.jpg" data-fancybox="gallery" data-caption="Заголовок работы (название)")
				img(src="assets/templates/natalya/images/project.jpg")
	.works--project
		.works--project-card
			a(href="assets/templates/natalya/images/project.jpg" data-fancybox="gallery" data-caption="Заголовок работы (название)")
				img(src="assets/templates/natalya/images/project.jpg")
	.works--project
		.works--project-card
			a(href="assets/templates/natalya/images/project.jpg" data-fancybox="gallery" data-caption="Заголовок работы (название)")
				img(src="assets/templates/natalya/images/project.jpg")