#sidebar.sidebar--work
	a.active(href="/works.html")
		|Все работы
	a(href="/works.html?filter=1")
		|Букеты
	a(href="/works.html?filter=2")
		|Горшечные растения
	a(href="/works.html?filter=3")
		|Живые цветы
	a(href="/works.html?filter=4")
		|Искусственные цветы
	a(href="/works.html?filter=5")
		|Суккуленты
	