* {
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
}
.clearfix() {
	& {
		&:after,
		&:before {
			display: table;
			content: "";
		}
		&:after {
			clear: both;
		}
	}
}
.clearfix {
	.clearfix();
}
.userselect(){
	user-select: none;
}
.absolute {
	position: absolute;
}
.absolutefull(){
	.absolute();
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-center {
	text-align: center;
}
body {
	font-family: Roboto, sans-serif;
	color: #391d5d;
	font-size: 1vw;
	line-height: 1.2;
	cursor: default;
	margin: 0;
	min-height: 100%;
	background-color: #fff;
}
img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
h1 {
	margin-top: 0px;
	margin-bottom: 4vh;
	font-size: 1.8vw;
	line-height: 2.6vw;
	font-weight: 600;
}
h2 {
  margin-top: 0px;
  margin-bottom: 4vh;
  font-size: 1.6vw;
  line-height: 2vw;
  font-weight: 600;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 12px;
	padding-left: 40px;
	letter-spacing: 0.04vw;
}
p, li {
	margin-bottom: 12px;
	letter-spacing: 0.04vw;
}
a {
	&,
	&:focus {
		color: #5d6c7b;
		transition: color .3s;
	}
	&:hover {
		color: rgba(93, 108, 123, 0.7);
	}
}
@media (max-width: 991px) {
	body {
		line-height: 1.2;
		font-size: 14px;
		
	}
	* {
		font-size: 14px;
		letter-spacing: 0.2px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2;
	}
	h1 {
		font-size: 30px;
		margin-bottom: 32px;
	}
	h2 {
		font-size: 26px;
		margin-bottom: 28px;
	}
	h3 {
		font-size: 22px;
		margin-bottom: 24px;
	}
	h4 {
		font-size: 18px;
		margin-bottom: 22px;
	}
	li,
	p {
		line-height: 1.2;
		margin-bottom: 12px;
	}
}
@media (max-width: 330px){
	
}