.header-block {
	display: flex;
	min-height: 30vh;
	padding: 12vh 6vw;
	flex-direction: column;
	background-color: #fff7f4;
	&-hero {
		position: relative;
		z-index: 2;
		display: flex;
	}
	.header-block {
		&-hero {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			position: relative;
		}
		&-title,
		&-text {
			width: 50%;
		}
		&-title {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			&.cell {
				width: 100%;
			}
			h1 {
				order: 0;
			}
			&-image {
				position: relative;
				height: 0px;
				padding-bottom: 33.25%;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: contain;
				order: 1;
				.absolute {
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					width: 100%;
					height: 100%;
					img {
						max-height: 100%;
					}
				}
			}
		}
		&-text {
			line-height: 2vw;
			font-size: 1.1vw;
			ul, ol {
				color: #000;
				letter-spacing: 0.02vw;
			}
			li {
				margin-bottom: 0.5vw;
				padding-left: 1vw;
			}
		}
		@media(max-width: 991px) {
			&-hero {
				flex-direction: column;
			}
			&-title,
			&-text {
				width: 100%;
			}
			&-title {
				h1 {
					order: 1;
				}
				&-image {
					order: 0;
				}
			}
			&-text {
				line-height: 1.7;
				font-size: 16px;
				letter-spacing: 0.2px;
				ul, ol {
					//padding-left: 20px;
				}
				p, li {
					margin-bottom: 12px;
				}
			}
		}
	}
}