.navhead {
	display: flex;
	padding-right: 6vw;
	padding-left: 6vw;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0 0 1px 1px #fff7f4;
	border-bottom: 1px solid #fff7f4;
	.userselect();
	.brand {
		position: relative;
		display: flex;
		min-height: 10vw;
		flex-direction: column;
		justify-content: center;
		color: #747474;
		letter-spacing: 0.04vw;
		a {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			&,
			&:hover,
			&:focus {
				color: #747474;
				text-decoration: none;
				outline-color: transparent;
			}
		}
		.brand {
			&-logo {
				display: flex;
				width: 6vw;
				height: 6vw;
				margin-right: 2vw;
				align-items: center;
				flex: 0 0 auto;
			}
			&-text {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				&-up,
				&-down {
					display: block;
				}
				&-up {
					color: #391d5d;
					font-size: 1.2vw;
					line-height: 1.4vw;
					font-weight: 600;
					letter-spacing: 0.04vw;
					text-transform: uppercase;
					@media(max-width:1019px) {
						font-size: 14px;
						line-height: 1.4em;
						letter-spacing: 0.2px;
					}
				}
				&-down {
					font-size: 1vw;
					line-height: 1.4vw;
					@media(max-width:1019px) {
						font-size: 12px;
						line-height: 1.4em;
						letter-spacing: 0.2px;
					}
				}
			}
		}
	}
	.navbar {
		.navbar {
			&-list {
				display: flex;
				margin-right: -2vw;
				margin-bottom: 0px;
				margin-top: 0px;
				padding-top: 4vw;
				padding-bottom: 4vw;
				align-items: center;
				padding-left: 0;
				list-style: none;
				&:hover {
					color: #a0a0a0;
				}
				&-li {
					padding-right: 2vw;
					padding-left: 2vw;
					font-weight: 600;
					text-transform: uppercase;
					cursor: pointer;
					margin-bottom: 0px;
					a {
						color: inherit;
						transition: color 300ms ease;
						font-size: 0.8vw;
						line-height: 2vw;
						letter-spacing: 0.04vw;
						text-decoration: none;
						@media(max-width:1019px) {
							font-size: 12px;
							line-height: 2em;
							letter-spacing: 0.2px;
						}
					}
					&:hover {
						color: #391d5d;
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		.navbar {
			.navbar {
				&-list {
					min-height: 100px;
					padding-top: 40px;
					margin-right: ubset;
					padding-bottom: 40px;
					padding-left: 20px;
					padding-right: 20px;
					padding-left: 20px;
					&-li {
						padding-right: 20px;
						padding-left: 20px;
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		flex-direction: column;
		.brand {
			min-height: 100px;
		}
		.navbar {
			.navbar {
				&-list {
					margin-right: -18px;
					margin-left: -18px;
					padding-right: 20px;
					padding-left: 20px;
					justify-content: space-between;
					border-top: 1px solid #f6eeeb;
					&-li {
						padding-right: 0px;
						padding-left: 0px;
					}
				}
			}
		}
	}
}