.about {
	&-box {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.photo {
			&-face {
				position: relative;
				overflow: hidden;
				width: 40%;
				&-box {
					position: relative;
					height: 0px;
					overflow: hidden;
					padding-bottom: percentage(1 / 16 * 9);
					.absolute {
						.absolutefull();
						img {
							max-height: 100%;
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
				@media(max-width: 991px) {
					
				}
				@media(max-width: 767px) {
					
				}
			}
		}
		.about {
			&-info {
				width: 60%;
				//padding-right: 4vw;
				padding-left: 4vw;
				@media(max-width: 991px) {
					
				}
				@media(max-width: 767px) {
					
				}
			}
		}
	}
}