
			<div class="about-box">
				<div class="photo-face">
					<div class="photo-face-box">
						<div class="clearfix absolute">
							<img src="[*aboutImg*]" alt="[*pagetitle:hsc*]">
						</div>
					</div>
				</div>
				<div class="about-info">
					<div class="clearfix">
						[*dopcontent*]
					</div>
				</div>
			</div>