
							<@IF:[*pageImage:isnotempty*]>
							<div class="header-block-title-image">
								<div class="clearfix absolute">
									<img src="[*pageImage*]" alt="[*h1:hsc*]">
								</div>
							</div>
							<@ENDIF>