
			<div class="worksnav" role="navigation">
				[[DLMenu?
					&documents=`16,17`
					&outerTpl=`@CODE:<ul class="worksnav--list">[+wrap+]</ul>`
					&rowTpl=`@CODE:<li class="worksnav--list-li[+classNames+]"><a href="[+url+]">[+title+]</a></li>`
					&rowHereTpl=`@CODE:<li class="worksnav--list-li[+classNames+]"><a href="[+url+]">[+title+]</a></li>`
					&activeClass=` active`
					&hereClass=` active`
					&rowClass=``
					&firstClass=``
					&lastClass=``
					&levelClass=``
					&webLinkClass=``
					&parentClass=``
					&oddClass=``
					&evenClass=``
					&stateClass=``
				]]
				[!WorksFilter!]
			</div>