#mainpage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	#sectionpage {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}
.section {
	&-page {
		padding: 6vh 6vw;
		overflow: hidden;
		background-color: #fff;
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		&-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.project {
				display: flex;
				min-height: 50vh;
				margin-top: 4vh;
				margin-bottom: 4vh;
				background-color: #fff;
				box-shadow: 0 1px 60px 0 rgba(146, 73, 73, .08);
				flex-direction: row;
				flex-wrap: wrap;
				&--image,
				&--section {
					width: 50%;
					@media (max-width: 767px) {
						width: 100%;
					}
				}
				&--image {
					background-size: cover;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					height: 0px;
					min-height: 50vh;
					position: relative;
					a {
						.absolutefull();
						img {
							display: none;
						}
					}
					@media (max-width: 767px) {
						min-height: unset;
						padding-bottom: 56.25%;
					}
				}
				&--section {
					display: flex;
					padding: 4vw;
					flex-direction: column;
					justify-content: space-between;
					footer {
						a {
							margin-top: auto;
							transition: color 300ms ease;
							color: #391d5d;
							font-size: 0.8vw;
							line-height: 2vw;
							font-weight: 600;
							letter-spacing: 0.04vw;
							text-decoration: none;
							text-transform: uppercase;
							&:hover {
								color: rgba(57, 29, 93, .7);
							}
							@media(max-width: 991px){
								font-size: 12px;
								letter-spacing: 0.2px;
								line-height: 1.2;
							}
						}
					}
					@media (max-width: 991px) {
						padding: 30px;
					}
				}
			}
		}
		.wrapperpage,
		.wrappercontent,
		.wrapper-page,
		.wrapper-content,
		.wrapper--page,
		.wrapper--content,
		.contacts {
			&-page {
				width: 100%;
			}
		}
		@media (max-width: 991px) {
			padding: 60px;
		}
		@media (max-width: 767px) {
			padding: 40px 20px;
		}
		&:before {
			content: " ";
			z-index: -1;
			opacity: 0;
			background-color: #fff;
			transition: all .5s ease;
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			width: 100%;
			height: 100%;
			min-width: 100vw;
			min-height: 100vh;
			animation-name: unload;
			animation-duration: .1s;
			animation-timing-function: ease;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
		&.loads {
			&:before {
				z-index: 99999999;
				opacity: 1;
				animation-name: load;
				animation-duration: .1s;
				animation-timing-function: ease;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
		}
	}
}
.contacts {
	&-text {
		margin-top: 1vw;
		margin-bottom: 1vw;
		padding: 0px;
		background-color: transparent;
		color: #391d5d;
		font-size: 2vw;
		line-height: 3vw;
		font-weight: 500;
		a {
			text-decoration: none;
		}
		@media (max-width: 991px) {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 20px;
			line-height: 1em;
		}
	}
}
@keyframes load {
	from {
		opacity: 0;
		//transform: translateY(10px); 
	}
	to {
		opacity: 1;
		//transform: translateY(0px); 
	}
}
@keyframes unload {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
body {
	#header {
		position: relative;
		z-index: 100;
	}
	#header > .header-block,
	#sectionpage {
		transform-origin: top center;
		animation-name: load;
		animation-fill-mode: forwards;
		animation-direction: normal;
		animation-duration: .25s;
		animation-iteration-count: 1;
		animation-timing-function: ease;
	}
	&.load {
		#header > .header-block,
		#sectionpage {
			animation-name: unload;
			/*animation-fill-mode: forwards;
			animation-duration: .25s;
			animation-timing-function: ease;
			animation-iteration-count: 1;
			animation-direction: normal;*/
		}
	}
}