doctype html
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head
	body
		.mainpage#mainpage
			header#header.clearfix
				include inc/navsite
				include inc/header-block
			#sectionpage
			include inc/footer
		include inc/js/script.tpl