doctype html
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head_tpl
	body
		.mainpage#mainpage
			header#header.clearfix
				include inc/snippets/nav.tpl
				include inc/snippets/header-block-contacts
			#sectionpage
				div.section-page.load(role="main")#pagewrapper
					include inc/snippets/section-page-contacts
			include inc/footer
		include inc/js/script.tpl