doctype html
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head
	body
		.mainpage
			header#header.clearfix
				include inc/navsite
				include inc/header-block
			#sectionpage
				div.section-page.load(role="main")#pagewrapper
					.section-page-list
						include inc/section-page-list
						include inc/section-page-list
						include inc/section-page-list
						include inc/section-page-list
			include inc/footer
		#mainpageinclude inc/js/script.tpl