doctype html
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head_tpl
	body
		.mainpage#mainpage
			header#header.clearfix
				include inc/snippets/nav.tpl
				include inc/snippets/header-block
			#sectionpage
				include inc/snippets/worksnav.tpl
				div.section-page.load(role="main")#pagewrapper
					.worksfilter
						include inc/snippets/worksfilter.tpl
					include inc/snippets/worksprojects.tpl
			include inc/footer
		include inc/js/script.tpl