doctype html
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head
	body
		.mainpage#mainpage
			header#header.clearfix
				include inc/navsite
				include inc/header-block
			#sectionpage
				include inc/worksnav
				div.section-page.load(role="main")#pagewrapper
					.worksfilter
						include inc/worksfilter
					include inc/worksprojects
			include inc/footer
		include inc/js/script.tpl