.pagination {
	display: flex;
	margin-top: 1vw;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	font-size: 1.2vw;
	line-height: 1vw;
	.userselect();
	&--list {
		a {
			&:hover {
				background-color: #fff7f4;
			}
		}
		span,
		a {
			display: inline-block;
			min-height: 4vw;
			min-width: 4vw;
			margin-right: 0.5vw;
			margin-left: 0.5vw;
			padding: 1.5vw;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #f6eeeb;
			transition: background-color 300ms ease, color 300ms ease;
			color: #391d5d;
			text-decoration: none;
			&.current {
				&,
				&:hover {
					background-color: #956dd8;
					color: #fff;
				}
			}
			@media(max-width: 991px) {
				margin-right: 5px;
				margin-left: 5px;
				line-height: 10px;
				padding: 15px;
				font-size: 12px;
			}
		}
	}
}