.worksfilter {
	display: flex;
	margin-right: -1vw;
	margin-left: -1vw;
	flex-direction: column;
	align-items: stretch;
	.userselect();
	.sidebar {
		&--work {
			display: flex;
			flex-wrap: wrap;
			a {
				border: 0;
				cursor: pointer;
				display: flex;
				min-height: 4vw;
				margin: 1vw;
				padding: 0.5vw 2vw;
				justify-content: center;
				align-items: center;
				border-radius: 3px;
				background-color: transparent;
				box-shadow: inset 0 0 0 1px #ecddd7;
				transition: background-color 300ms ease, color 300ms ease;
				color: #391d5d;
				font-size: 1vw;
				line-height: 2vw;
				font-weight: 500;
				letter-spacing: 0.02vw;
				text-decoration: none;
				&:hover {
					background-color: #fff7f4;
				}
				&.active {
					&,
					&:hover {
						background-color: #956dd8;
						color: #fff;
					}
				}
				@media (max-width: 991px) {
					min-height: 30px;
					margin: 10px;
					padding: 10px;
					font-size: 12px;
					line-height: 1.4em;
					letter-spacing: 0.2px;
				}
				@media (max-width: 479px) {
					margin: 5px;
					font-size: 10px;
				}
			}
			@media (max-width: 991px) {
				margin-top: -40px;
			}
			@media (max-width: 767px) {
				margin-top: -20px;
			}
			@media (max-width: 479px) {
				margin-top: -20px;
			}
		}
	}
}