.worksprojects {
	display: flex;
	margin: 1vw -2vw;
	flex-wrap: wrap;
	position: relative;
	.userselect();
	.works {
		&--project {
			display: flex;
			padding: 2vw;
			width: 33.333%;
			&-card {
				display: flex;
				flex: 1;
				background-color: #fff;
				align-items: center;
				justify-content: center;
				a {
					display: block;
					max-width: 100%;
					img {
						max-width: 100%;
						// 351x263
					}
				}
			}
			@media (max-width: 991px) {
				padding: 20px;
				max-width: 45%;
				min-width: 45%;
			}
			@media (max-width: 767px) {
				padding: 20px;
				max-width: 298px;
				width: 100%;
			}
		}
	}
	@media (max-width: 991px) {
		display: block;
		margin: 10px -60px;
		flex-wrap: nowrap;
	}
}
.carousel--watch-css:after {
	content: 'flickity';
	display: none;
	@media screen and ( min-width: 992px ) {
		content: '';
	}
}