.worksnav {
	padding-right: 6vw;
	padding-left: 6vw;
	background-color: #391d5d;
	.userselect();
	&--list {
		display: flex;
		margin-right: -2vw;
		margin-bottom: 0px;
		margin-left: -2vw;
		padding-left: 0;
		list-style: none;
		&-li {
			position: relative;
			display: flex;
			padding-right: 2vw;
			padding-left: 2vw;
			align-items: center;
			font-weight: 500;
			margin-bottom: 0px;
			a {
				display: flex;
				min-height: 6vw;
				align-items: center;
				transition: color 300ms ease;
				color: rgba(255, 255, 255, 0.7);
				font-size: 1vw;
				font-weight: 500;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
				@media (max-width: 991px) {
					min-height: 60px;
					font-size: 14px;
					line-height: 1.4em;
				}
			}
			&.active {
				a {
					box-shadow: inset 0 -3px 0 0 #956dd8;
					color: #fff;
				}
			}
			@media (max-width: 991px) {
				padding-right: 20px;
				padding-left: 20px;
				font-size: 12px;
			}
			@media (max-width: 479px) {
				width: 100%;
				margin-bottom: -1px;
				border-bottom: 1px solid #502f7b;
			}
		}
		@media (max-width: 991px) {
			margin-right: -20px;
			margin-left: -20px;
		}
		@media (max-width: 479px) {
			overflow: hidden;
			margin-right: 0px;
			margin-left: 0px;
			flex-direction: column;
		}
	}
	@media (max-width: 991px) {
		padding-right: 60px;
		padding-left: 60px;
	}
	@media (max-width: 767px){
		padding-right: 20px;
		padding-left: 20px;
	}
	@media (max-width: 479px) {
		padding-right: 0px;
		padding-left: 0px;
	}
}